<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ניהול משנה ונושאים</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script> <!-- Alpine.js CDN -->
    <style>
        body {
            direction: rtl;
        }
        .inline {
            display: inline-block;
        }
        .short-input {
            width: 45%;
        }
    </style>
</head>
<body class="bg-gray-100 p-6">    <!-- Navigation Buttons -->
    <div class="flex justify-end space-x-4">
        <a href="{{ url_for('main.search_mishna') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-4">
            חזור לדף הראשי
        </a>
        <form action="{{ url_for('main.logout') }}" method="POST">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                התנתק
            </button>
        </form>
    </div>

    <br>

    <!-- Insert Mishna Section -->
    {% include 'manage_mishnas.html' %}

    <br><br>

    <!-- Manage Tags Section -->
    {% include 'manage_tags.html' %}

</body>
</html>
